@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@500;700&family=Inter&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
font-family: 'Fraunces', serif;
font-family: 'Inter', sans-serif; */
:root {
    /* COLORS */
    --navy : #243763;
    --orange: #FF6E31;
    --cream: #FFEBB7;
    --brown: #AD8E70;

}
body {
    font-size: 14px;
    text-align: center;
}
p, a{
    font-family: 'Inter', sans-serif; 
    font-weight: 700;
}
h1, h2, h3 , h4{
    font-family: 'Fraunces', serif;
}
/* HERO SECTION */
.hero {
    height: 92vh;
    background-color: var(--navy);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
	justify-content: center;
}
 .hero h1 {
    font-size: 2em;
    
    color: var(--cream);
    font-weight: 700;
}
.name, .background {
    color: var(--orange); 
    font-weight: 500;
}

.computer img{
    display: block;
    
} 
.illustrations .computer {
    height: 200px;
}

/* SKILLS SECTION */

.my-skills{
    background: var(--cream);
    padding: 3rem 2rem 0 2rem;
    color: var(--navy);
}

.my-skills h2{
    padding-bottom: 2.5rem;
    font-size: 2em;
    color: var(--orange);
    opacity: .7;
}
.skills-list h3 {
    padding-top: 1rem;
    font-size: 1.5em;
}
.skills-list p {
    padding: 1rem 0;
    opacity: .7;
}
.my-skills .icon {
    opacity: .7;
}
 img{
    display: block;
    max-width: 100%;
}
 .icon {
    opacity: .7;
    display: inline;
}

/* MY PROJECTS */
.projects {
    padding: 4rem;
}
.projects h3{
    color: var(--brown);
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: .8;
}
.project-screenshots h4{
    padding: 2rem 0 1rem 0;
    color: var(--navy);
    letter-spacing: 1px;;
}

/* ABOUT ME */
.about {
    background: var(--navy);
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    height: 92vh;
    gap: 2rem;
    color: var(--orange);
}
 .about p {
    font-size: 1.2em;
 }

 /* contact me */
.contact-me {
    background: var(--cream);
    padding: 2rem;
    color: var(--navy);
}
textarea {
    border: 2px solid var(--orange);
    border-radius: 5px;
    padding: .5rem;
    margin: 2rem;
    color: var(--navy);
}
 .submit {
    margin: 1rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    background: var(--navy);
    color: var(--orange);
    border: none;
    font-weight: 700;
    text-decoration: none;
 }

 .submit:hover {
    background: var(--orange);
    color: var(--navy);
 }
 nav{
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 .nav-items {
    display: flex;
 }
 .nav-items li{
    list-style: none;
    padding: 1rem;
 }
 .nav-items li a {
    text-decoration: none;
    color: var(--cream);
   
 }